body a {
  color: #2294e0;
}

body a:hover {
  color: #2294e0;
  text-decoration: none;
}

h2,
h3 {
  font-family: "Lato";
}

label:text-muted,
.nav-link {
  font-family: "Lato";
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f2efea;
}

.bg-emnlp {
  background-color: #2d3047 !important;
}

.bg-emnlp .nav-link {
  color: #cecece !important;
  white-space: nowrap;
}

.bg-emnlp .nav-link:hover,
.nav-link:active,
.nav-item.active > .nav-link {
  color: #fff !important;
}

.container a:hover {
  text-decoration: none;
}

.jumbotron {
  font-family: "Lato", sans-serif;
  background-color: rgba(236, 241, 246, 1);
}

#main-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .container {
  margin-top: 0px !important;
}

.header {
  font: "Montserrat";
}

.pp-card {
  font-family: "Lato";
  margin-bottom: 1em;
  display: block;
  overflow: hidden;
}

.pp-card-header {
  font-family: "Lato";
  height: 380px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.pp-mode-list .pp-card-header {
  height: 175px;
  border: 1px solid #eee;
}

.pp-card-footer {
  position: absolute;
  width: 100%;
  bottom: 3px;
}

.pp-mode-list .pp-card-header .card-title {
  font-size: 17px;
}

.cards_img {
  margin-top: 20px;
  border-radius: 2px;
  max-height: 130px;
  object-fit: scale-down;
}

body .nav-pills .nav-link.active {
  background-color: #ee353a;
  color: white;
}

.container {
  margin-top: 10px;
}

.card {
  font-family: "Lato";
}

.card-header {
  font-family: "Lato";
}

.card-header .card-title {
  font-family: "Lato";
}

.cards.myCard {
  display: flex;
  flex-flow: wrap;
  margin-left: 0;
  box-sizing: border-box;
}

.cards {
  margin-top: 10px;
}

.card-title {
  /* margin-top: 10px; */
  font-size: 1.1em;
  color: #212529 !important;
}

.card-title-visited {
  color: purple !important;
}

.card-footer {
  background-color: rgba(0, 0, 0, 0) !important;
  border-top: none !important;
  text-align: right;
  padding-bottom: 1.3em;
}

#calendar {
  margin-top: 20px;
}

.card-footer .btn-warning {
  color: white;
}

.card-active {
  box-shadow: 0px 9px 11px 4px rgb(84 83 83 / 21%);
  border-color: #007bff !important;
}

.card-fav {
  border-color: #ffc107 !important;
}

.card-dimensions {
  margin-bottom: 1.5em;
  min-height: 10rem;
}

.card-dimensions-image {
  margin-bottom: 1.5em;
  min-height: 10rem;
}

.card-dimensions-detail {
  margin-bottom: 1.5em;
  min-height: 10rem;
}

.btn-quickview {
  margin-left: 0.5em;
  margin-top: 0;
}

.shortcut-guide {
  display: none;
}

@media only screen and (min-width: 768px) {
  .card-dimensions {
    margin-bottom: 1.5em;
    min-height: 20rem;
  }

  .card-dimensions-image {
    margin-bottom: 1.5em;
    min-height: 30rem;
  }

  .card-dimensions-detail {
    margin-bottom: 1.5em;
    min-height: 60rem;
  }

  .btn-quickview {
    margin-left: 0.5em;
    margin-top: 0.5em;
  }

  .shortcut-guide {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .card-dimensions {
    margin-bottom: 1.5em;
    min-height: 16rem;
  }

  .card-dimensions-image {
    margin-bottom: 1.5em;
    min-height: 26rem;
  }

  .card-dimensions-detail {
    margin-bottom: 1.5em;
    min-height: 44rem;
  }

  .btn-quickview {
    margin-left: 0.5em;
    margin-top: 0;
  }

  .shortcut-guide {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .card-dimensions {
    margin-bottom: 1.5em;
    min-height: 14rem;
  }

  .card-dimensions-image {
    margin-bottom: 1.5em;
    min-height: 24rem;
  }

  .card-dimensions-detail {
    margin-bottom: 1.5em;
    min-height: 28rem;
  }

  .btn-quickview {
    margin-left: 0.5em;
    margin-top: 0;
  }

  .shortcut-guide {
    display: block;
  }
}

h2.card-title {
  margin-top: 10px;
  font-size: 30px;
}

h3.card-subtitle.text-muted {
  margin-top: 10px;
  font-size: 20px;
}

.card-subtitle {
  /* text-align: center; */
  font-size: 0.9em;
}

.main-title {
  font-weight: 700;
  color: #2294e0;
  font-family: "Lato";
}

.myAccordion {
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 18px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.sponsorSubtitle {
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

.sponsorLevel {
  border-bottom: 1px solid;
  bottom: 15px;
  padding-top: 15px;
}

.sponsorLogo {
  width: 250px;
  height: 250px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  white-space: nowrap;
  background: white;
}

.sponsorHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px;
}

.sponsorImg {
  padding-left: 10px;
  padding-right: 10px;
  max-height: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sponsorLogo:hover {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.error {
  color: red;
  font-weight: bold;
}

.slp iframe {
  background: #fff;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* .carousel-inner .carousel-item-right.active, */

/* .carousel-inner .carousel-item-next { */

/*   transform: translateX(25%); */

/* } */

/* .carousel-inner .carousel-item-left.active, */

/* .carousel-inner .carousel-item-prev { */

/*   transform: translateX(-25%); */

/* } */

/* .carousel-inner .carousel-item-right, */

/* .carousel-inner .carousel-item-left{ */

/*   transform: translateX(0); */

/* } */

.carousel-control-prev-icon {
  filter: invert(1);
  transform: translateX(-200%);
}

div.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.carousel-control-next-icon {
  filter: invert(1);
  transform: translateX(200%);
}

.border {
  background: #fff;
  padding: 10px;
  border: 4px solid #eee;
  box-shadow: rgb(204, 204, 204) 2px 2px 14px 0;
}

tr.fc-list-item {
  cursor: pointer;
}

.details {
  font-family: "Lato", sans-serif;
}

#abstractExample.collapse:not(.show) {
  display: block;

  /* height = lineheight * no of lines to display */
  height: 4.5em;
  overflow: hidden;
}

#abstractExample.collapsing {
  height: 4.5em;
}

#absShow.collapsed::after {
  content: "+ Show More";
}

#absShow:not(.collapsed)::after {
  content: "- Show Less";
}

body .carousel-control-next,
body .carousel-control-prev {
  width: 5%;
}

.icon_video,
.icon_cal {
  fill: #6c757d;
}

.icon_video:hover,
.icon_cal:hover {
  fill: #000;
}

.checkbox-paper {
  opacity: 0.5;
  color: gray;
  font-size: 18pt;
  font-weight: bold;
  cursor: pointer;
}

.checkbox-paper.selected {
  opacity: 1;
  color: green;
}

.greenbox-paper.selected {
  background-color: rgb(245, 256, 245);
}

@supports (-webkit-text-stroke: 1px gray) {
  .checkbox-paper {
    opacity: 0.5;
    -webkit-text-stroke: 1px gray;
    -webkit-text-fill-color: white;
  }

  .checkbox-paper.selected {
    opacity: 1;
    -webkit-text-fill-color: green;
  }
}

.fc-v-event.calendar-event-aijobfair {
  background-color: bisque;
  border-color: bisque;
}

.fc-v-event.calendar-event-meetwithafellow {
  background-color: #ffc107;
  border-color: #ffc107;
}

.fc-v-event.calendar-event-plenary {
  background-color: #82b74b;
  border-color: #82b74b;
}

/*.fc-v-event.calendar-event-plenary-aaai {*/
/*  background-color: #82b74b;*/
/*  border-color: #82b74b;*/
/*}*/

/*.fc-v-event.calendar-event-plenary-iaai {*/
/*  background-color: #82b74b;*/
/*  border-color: #82b74b;*/
/*}*/

.fc-v-event.calendar-event-eaai {
  background-color: #26ffbc;
  border-color: #26ffbc;
}

.fc-v-event.calendar-event-diversityandinclusion {
  background-color: #00a1f1;
  border-color: #00a1f1;
}

.fc-v-event.calendar-event-posters {
  background-color: #86989b;
  border-color: #86989b;
}


.fc-v-event.calendar-event-tutorials {
  background-color: #b8a9c9;
  border-color: #b8a9c9;
}

.fc-v-event.calendar-event-undergraduateconsortium {
  background-color: #42dbe3;
  border-color: #42dbe3;
}
.fc-v-event.calendar-event-doctoralconsortium{
  background-color: #82b74b;
  border-color: #82b74b;
}

.fc-v-event.calendar-event-workshops {
  background-color: #fe9f6d;
  border-color: #fe9f6d;
}

/* background-color: #d64161;*/
/*.fc-v-event.calendar-event-qa {*/
/*  background-color: #86989b;*/
/*}*/

/*.fc-v-event.calendar-event-socials {*/
/*  background-color: #00a1f1;*/
/*}*/

.fc-v-event.calendar-event-sponsorsexhibitors {
  background-color: #ffa500;
  border-color: #ffa500;
}

.fc-v-event.calendar-event-other {
  background-color: #6699ff;
  border-color: #6699ff;
}

.fc-v-event.calendar-event {
  border-color: transparent;
}

.deco-none {
  color: inherit;
  text-decoration: inherit;
}

.deco-none:link {
  color: inherit;
  text-decoration: inherit;
}

.deco-none:hover {
  color: inherit;
  text-decoration: inherit;
}

.twitter-typeahead {
  flex-grow: 100;
}

div#papers_options > div {
  margin-bottom: 5px;
}

/* #papers_options {
  justify-content: center;
} */

.paper-detail-calendar {
  position: relative;
  top: -1px;
  left: 10px;
}

.fc-v-event {
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Manipulate calendar event on hover */
.fc-v-event:hover {
  background: rgb(234, 33, 45);
}

.paper-modal-session {
  max-width: 17em;
  /* background-color: whitesmoke; */
  border-radius: 10em;
  /* padding: 0.5em; */
  margin-right: 1.5em;
  /* padding-right: 1em; */
}

.paper-modal-session-name {
  border-radius: 100%;
  min-width: 2.7em;
  min-height: 2.7em;
  text-align: center;
  vertical-align: middle;
  padding: 0.6em 0;
}

.paper-modal-session-calendar-btn {
  margin-left: -0.5em;
}

.modal-footer .btn-warning {
  color: white;
}

.card-link-warning {
  color: #ffc107 !important;
}

.button-box {
  display: flex;
}

.bottom-bar {
  margin-bottom: 0em;
}

@media (max-width: 768px) {
  .button-box {
    display: block;
  }

  .bottom-bar {
    margin-bottom: 1em;
  }
}

.stats-channel {
  margin-bottom: 0.7em;
}

.stats-channel-name {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 3px;
}

.stats-channel-name a {
  color: black;
  border-radius: 3px;
}

.stats-channel-name a:hover {
  color: #007bff;
  border-color: #007bff;
}

.stats-channel-info {
  font-size: 0.8em;
}

.stats-last-update {
  font-size: 0.9em;
}

.navbar-nav li:hover > .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}
