{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
  .page__hero-caption {
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 2px 10px;
    color: #fff;
    font-family: Georgia,Times,serif;
    font-size: 0.9em;
    text-align: right;
    z-index: 5;
    opacity: 0.5;
    border-radius: 4px 0 0 0;
  }
    .ctagcloud li {
        display:inline-block;
        text-transform:uppercase;
        font-size:1rem;
        font-weight:600;
        margin:4px;
        padding:8px 16px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        background:rgba(0,0,0,0.05);
        -webkit-transition:all 0.2s ease-in-out;
        -moz-transition:all 0.2s ease-in-out;
        transition:all 0.2s ease-in-out
    }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 5px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h1 class="p-1" style="font-size:5vw">
        <b>{{config.tagline|safe}}</b><br>
      </h1>
      <h3>
          {{config.subtitle|safe}}<br>
      </h3>
      <h5>
        <br>
        Lingfei Wu, JD.COM<br>
        Peng Cui, Tsinghua University<br>
        Jian Pei, Simon Fraser University<br>
        Liang Zhao, Emory University
      </h5>
    </div>
  </div>
{#  <div class="page__hero-caption">Image Credit: NASA</div>#}
</div>

{% endblock %}
{% block heading %}

<div class="pp-card m-3" style="">
    <div class="card-header">
        <h2>
            Introduction
        </h2>
        
        <p>
        The field of graph neural networks (GNNs) has seen rapid and incredible strides over the recent years. Graph neural networks, also known as deep learning on graphs, graph representation learning, or geometric deep learning have become one of the fastest-growing research topics in machine learning, especially deep learning. This wave of research at the intersection of graph theory and deep learning has also influenced other fields of science, including recommendation systems, computer vision, natural language processing, inductive logic programming, program synthesis, software mining, automated planning, cybersecurity, and intelligent transportation.
        </p>
        <p>
        Although graph neural networks have achieved remarkable attention, it still faces many challenges when applying them into other domains, from the theoretical understanding of methods to the scalability and interpretability in a real system, and from the soundness of the methodology to the empirical performance in an application. However, as the field rapidly grows, it has been extremely challenging to gain a global perspective of the developments of GNNs. Therefore, we feel the urgency to bridge the above gap and have a comprehensive book on this fast-growing yet challenging topic, which can benefit a broad audience including advanced undergraduate and graduate students, postdoctoral researchers, lecturers, and industrial practitioners.
        </p>
        <p>
        This book is intended to cover a broad range of topics in graph neural networks, from the foundations to the frontiers, and from the methodologies to the applications. Our book is dedicated to introducing the fundamental concepts and algorithms of GNNs, new research frontiers of GNNs, and broad and emerging applications with GNNs.
        </p>
        
        <h2>
            Foreword
        </h2>
        
        <p>
        “The first comprehensive book covering the full spectrum of a young, fast-growing research field, graph neural networks (GNNs), written by authoritative authors!” ---Jiawei Han (Michael Aiken Chair Professor at University of Illinois at Urbana-Champaign, ACM Fellow and IEEE Fellow)</p>
        <p>
        “This book presents a comprehensive and timely survey on graph representation learning. Edited and contributed by the best group of experts in this area, this book is a must-read for students, researchers and pratictioners who want to learn anything about Graph Neural Networks.” ---Heung-Yeung ”Harry” Shum (Former Executive Vice President for Technology and Research at Microsoft Research, ACM Fellow, IEEE Fellow, FREng)</p>
        <p>
        “As the new frontier of deep learning, Graph Neural Networks offer great potential to combine probabilistic learning and symbolic reasoning, and bridge knowledge-driven and data-driven paradigms, nurturing the development of third-generation AI. This book provides a comprehensive and insightful introduction to GNN, ranging from foundations to frontiers, from algorithms to applications. It is a valuable resource for any scientist, engineer and student who wants to get into this exciting field.” ---Bo Zhang (Member of Chinese Academy of Science, Professor at Tsinghua University)</p>
        <p>
        “Graph Neural Networks are one of the hottest areas of machine learning and this book is a wonderful in-depth resource covering a broad range of topics and applications of graph representation learning.” ---Jure Leskovec (Associate Professor at Stanford University, and investigator at Chan Zuckerberg Biohub).</p>
        <p>
        “Graph Neural Networks are an emerging machine learning model that is already taking the scientific and industrial world by storm. The time is perfect to get in on the action – and this book is a great resource for newcomers and seasoned practitioners alike! Its chapters are very carefully written by many of the thought leaders at the forefront of the area.” ---Petar Velickovic (Senior Research Scientist, DeepMind)
        </p>
    </div>
</div>

<div class="pp-card m-3" style="">
    <div class="card-header">
        <h2>
            Access (Purchase the e-book or print edition <a href='index.html'>here</a>)
        </h2>
        
        <ul>
<!--            <li>Purchase the e-book or print edition <a href='index.html'>here</a>. </li>-->
<!--            <li>Access the individual chapters (in pre-publication form) below.</li>-->
            <li><a href="static/file/table_of_contents.pdf">Table of Contents</a></li>
            <li><a href="static/file/reference.pdf">References</a></li>
            <li><a href='index.html'>Errata</a></li>
        </ul>
    </div>
</div>

<div class="pp-card m-3" style="">
    <div class="card-header">
        <center>
        <h2>Chapters</h2>
        </center>
<!--        <h3>PART I: Introductions</h3>-->
<!--        <ul>-->
<!--            <li>Chapter 1: Representation Learning [<a href='tutorial_Chapter1.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 2: Graph Representation Learning [<a href='tutorial_Chapter2.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 3: Graph Neural Networks [<a href='tutorial_Chapter3.html'>Introduction</a>]</li>-->
<!--        </ul>-->
<!--        -->
<!--        <h3>PART II: Foundations of Graph Neural Networks</h3>-->
<!--        <ul>-->
<!--            <li>Chapter 4: Graph Neural Networks: Node Classification [<a href='tutorial_Chapter4.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 5: Graph Neural Networks: Theoretical Analysis [<a href='tutorial_Chapter5.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 6: Graph Neural Networks: Scalability [<a href='tutorial_Chapter6.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 7: Graph Neural Networks: Explainability [<a href='tutorial_Chapter7.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 8: Graph Neural Networks: Adversarial Robustness [<a href='tutorial_Chapter8.html'>Introduction</a>]</li>-->
<!--        </ul>-->
<!--        <h3>PART III: Frontiers of Graph Neural Networks</h3>-->
<!--        <ul>-->
<!--            <li>Chapter 9: Graph Neural Networks: Graph Classification [<a href='tutorial_Chapter9.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 10: Graph Neural Networks: Link Prediction [<a href='tutorial_Chapter10.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 11: Graph Neural Networks: Graph Generation [<a href='tutorial_Chapter11.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 12: Graph Neural Networks: Graph Transformation [<a href='tutorial_Chapter12.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 13: Graph Neural Networks: Graph Matching [<a href='tutorial_Chapter13.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 14: Graph Neural Networks: Graph Learning [<a href='tutorial_Chapter14.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 15: Dynamic Graph Neural Networks [<a href='tutorial_Chapter15.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 16: Heterogeneous Graph Neural Networks [<a href='tutorial_Chapter16.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 17: Graph Neural Networks: AutoML [<a href='tutorial_Chapter17.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 18: Graph Neural Networks: Self-Supervised Learning [<a href='tutorial_Chapter18.html'>Introduction</a>]</li>-->
<!--        </ul>-->
<!--        <h3>PART IV: Broad and Emerging Applications with Graph Neural Networks</h3>-->
<!--        <ul>-->
<!--            <li>Chapter 19: Graph Neural Networks on Recommendation System [<a href='tutorial_Chapter19.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 20: Graph Neural Networks on Computer Vision [<a href='tutorial_Chapter20.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 21: Graph Neural Networks on Natural Language Processing [<a href='tutorial_Chapter21.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 22: Graph Neural Networks on Program Analysis [<a href='tutorial_Chapter22.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 23: Graph Neural Networks on Software Mining [<a href='tutorial_Chapter23.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 24: Graph Neural Networks on Drug Discovery [<a href='tutorial_Chapter24.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 25: Graph Neural Networks on Proteins and DNA [<a href='tutorial_Chapter25.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 26: Graph Neural Networks on Anomaly Detection [<a href='tutorial_Chapter26.html'>Introduction</a>]</li>-->
<!--            <li>Chapter 27: Graph Neural Networks on Urban Intelligence [<a href='tutorial_Chapter27.html'>Introduction</a>]</li>-->
<!--        </ul>-->
    </div>
</div>


{#<div class="text-center p-3">#}
    {#    <a class="card-link" role="button" href="#part1">#}
        {#      Part I#}
        {#    </a>#}
    {#    <a class="card-link" role="button" href="#part2">#}
        {#      Part II#}
        {#    </a>#}
    {#    <a class="card-link" role="button" href="#part3">#}
        {#      Part III#}
        {#    </a>#}
    {#    <a class="card-link" role="button" href="#part4">#}
        {#      Part IV#}
        {#    </a>#}
    {#</div>#}

{% endblock %}

{% block tabs %}
<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a
            class="nav-link active"
            data-toggle="tab"
            href="#tab-part1"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            >Part I: Introductions
        </a>
    </li>
    <li class="nav-item">
        <a
            class="nav-link"
            data-toggle="tab"
            href="#tab-part2"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            >Part II: Foundations
        </a>
    </li>
    <li class="nav-item">
        <a
            class="nav-link"
            data-toggle="tab"
            href="#tab-part3"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            >Part III: Frontiers
        </a>
    </li>
    <li class="nav-item">
        <a
            class="nav-link"
            data-toggle="tab"
            href="#tab-part4"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            >Part IV: Applications
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}

{#<div class="tutorials">#}
    {#    {{ components.tutorialgroup(tutorials,part1,part2,part3,part4) }}#}
    {#</div>#}

<div class="tab-content" id="nav-tabContent">
    
    <div
        class="tab-pane fade active show"
        id="tab-part1"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
        >
        
        <div id="tab-part1">
            <div class="plenary_sessions">
                {{ components.uc_abstracts_group(part1) }}
            </div>
        </div>
    </div>
    
    <div
        class="tab-pane fade"
        id="tab-part2"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
        >
        
        <div id="tab-part2">
            <div class="plenary_sessions">
                {{ components.uc_abstracts_group(part2) }}
            </div>
        </div>
    </div>
    
    <div
        class="tab-pane fade"
        id="tab-part3"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
        >
        
        <div id="tab-part3">
            <div class="plenary_sessions">
                {{ components.uc_abstracts_group(part3) }}
            </div>
        </div>
    </div>
    
    <div
        class="tab-pane fade"
        id="tab-part4"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
        >
        
        <div id="tab-part4">
            <div class="plenary_sessions">
                {{ components.uc_abstracts_group(part4) }}
            </div>
        </div>
    </div>
    
</div>

<div class="pp-card m-3" style="">
    <div class="card-header">
        <h2>
            Copyrights and Citation
        </h2>
        
        This book is a pre-publication draft of the book that will be published by Springer. The publishers have generously agreed to allow the public hosting of the pre-publication draft, which does not include the publisher's formatting or revisions. The book should be cited as follows:
        <br>
        <div class="pp-card m-3" style="">
        <div class="card-header">
        <p>
        @book{GNNBook2021, <br>
        author       = {Wu, Lingfei and Cui, Peng and Pei, Jian and Zhao, Liang}, <br>
        title        = {Graph Neural Networks: Foundations, Frontiers, and Applications}, <br>
        publisher    = {Springer}, <br>
        address      = {Singapore}, <br>
        pages        = {720}, <br>
        year         = {2021},<br>
        }
        </p>
        </div>
        </div>
        <div class="pp-card m-3" style="">
        <div class="card-header">
        L. Wu, P. Cui, J. Pei, and L. Zhao. Graph Neural Networks: Foundations, Frontiers, and Applications. Springer, Singapore, 2021 <br>
        </div>
        </div>
        All copyrights held by the authors and publishers extend to the pre-publication drafts.
        
    </div>
</div>

<div class="pp-card m-3" style="">
    <div class="card-header">
        <h2>
            Feedbacks
        </h2>
        
        Feedback, typo corrections, and comments are welcome and should be sent to <a href="https://sites.google.com/a/email.wm.edu/teddy-lfwu/">Dr. Lingfei Wu</a> at <a href=mailto:lwu@email.wm.edu>lwu@email.wm.edu</a> with [GNN BOOK] in the subject line.
    </div>
</div>


{% endblock %}

