{% extends "base.html" %}
{% set active_page = "Livestream" %}
{% set page_title = "Livestream" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block heading %}
<div class="col-12 bd-content">
<h4 class="text-center">
  Pre-recorded videos and full schedule are available <a href="plenary_sessions.html" target="_blank">here</a>.
</h4>
</div>
{% endblock %}

{% block content %}

{% set livestream_id = '38952002' %}
<!--{% set cart_url = "https://www.streamtext.net/player?event=UofEdin" %}-->

<div id="live container">
    <div class="text-muted text-center">
      You can also watch the
      <a href="https://slideslive.com/{{ livestream_id }}" target="_blank">
        livestream
      </a>
<!--      and-->
<!--      <a href="{{ cart_url }}" target="_blank">-->
<!--        captions (for panels only)-->
<!--      </a>-->
      below
      in separate windows.
    </div>

    <div class="row p-4">
      <!-- SlidesLive-->
      <div class="col-md-12 col-xs-12 p-2">
        <div id="presentation-embed" class="my-auto slp"></div>
        <script src='https://slideslive.com/embed_presentation.js'></script>
        <script>
          embed = new SlidesLiveEmbed('presentation-embed', {
            presentationId: {{ livestream_id }},
            autoPlay: false, // change to true to autoplay the embedded presentation
            verticalEnabled: true,
{#            verticalWhenWidthLte: 500,#}
{#            allowHiddenControlsWhenPaused: true,#}
{#            hideTitle: true,#}
          });
        </script>
      </div>
    </div>

<!--    <div class="row"-->
<!--         style="padding: 0; margin-left: 0; margin-right: 0; margin-top: -35px;">-->
<!--      <div class="col-md-12 col-xs-12 p-2">-->
<!--        <div class="collapse" id="liveCaptioning">-->
<!--          <div class="card card-body">-->
<!--            <iframe-->
<!--                src="{{ cart_url }}&chat=false&controls=false&header=false&footer=false&ff=arial&fs=24"-->
<!--                marginwidth="0px"-->
<!--                marginheight="0px"-->
<!--                scrolling="no"-->
<!--                frameborder="0"-->
<!--                class="style7"-->
<!--                id="stFrame"-->
<!--                style="width:100%;height:200px"-->
<!--            >-->
<!--            </iframe>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->

<!--    {% set text_show = "Show Live Captioning (Only available for panel discussions)" %}-->
<!--    {% set text_hide = "Hide Live Captioning (Only available for panel discussions)" %}-->
<!--    <p class="text-center">-->
<!--      <a id="toggleCaption"-->
<!--         class="btn btn-danger"-->
<!--         data-toggle="collapse"-->
<!--         href="#liveCaptioning"-->
<!--         role="button"-->
<!--         aria-expanded="false"-->
<!--         aria-controls="liveCaptioning"-->
<!--         onclick="toggleCaptions()"-->
<!--      >{{ text_show }}</a>-->
<!--    </p>-->
<!--    <script>-->
<!--      function toggleCaptions() {-->
<!--        const x = document.getElementById("toggleCaption");-->
<!--        if (x.innerHTML === "{{ text_show }}") {-->
<!--          x.innerHTML = "{{ text_hide }}";-->
<!--        } else {-->
<!--          x.innerHTML = "{{ text_show }}";-->
<!--        }-->
<!--      }-->
<!--    </script>-->

    <!-- Chat -->
    {{ components.section("Live Chat") }}
    <div class="text text-muted text-center">
      You can also open the <a href="https://{{config.chat_server}}/channel/live" target="_blank">#live</a>
      channel below in a separate window.
    </div>

    <div class="row p-4">
      <div class="col-md-12 col-xs-12 p-2">
        <div id="chat" class="slp">
          <iframe frameborder="0" src="https://{{config.chat_server}}/channel/live?layout=embedded" height="600px" width="100%" ></iframe>
        </div>
      </div>
    </div>

</div>

<script src="static/js/lazy_load.js"></script>
<script type="text/javascript">
  lazyLoader();
</script>

{% endblock %}