{% set active_page = "Meet with a fellow" %}
{% extends "base.html" %}
{% block heading %}
{{ components.section("Meet with a Fellow") }}
{% endblock %}

{% block top %}

{% endblock %}

{% block content %}
<div class="pp-card m-3" style="">
  <div class="card-header">
<!-- <div class="row"> -->
  <!-- <div class="col-md-12 col-sm-12 pr-5 lead"> -->
    <p>Welcome to the Meet with a AAAI Fellow Program</p>
    <p>Thursday - Saturday, February 4-7</p>
    <p>First held in 2006, the AAAI Fellow/Student program provides an opportunity for a small number of students to chat with a AAAI Fellow in an informal setting during the conference. This year the program will be held via <a href="https://www.virtualchair.net/events/aaai-2021" target="_blank">Virtual Chair on Gather.Town</a>. Participation will be on a first-come, first-served basis in Room E of Virtual Chair on Gather.town. A volunteer will assist you in locating your chosen Fellow at the designated time.</p>
    <p>Fellows will generally be available for one hour in one of the following time periods. A full schedule is included below.</p>
    <p>
      February 4-7 <br />
      ------------------<br/>
      12:00 PM - 2:00 PM PST<br />
      8:00 PM - 10:00 PM PST <br />
      4:00 AM - 6:00 AM PST  (February 5-8)
    </p>

  </div>
</div>
    <h2 class="card-title main-title text-center">
      AAAI-21 Meet with a Fellow Schedule
    </h2>
    <div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">

        <div class="card-body">
          <table class="table table-bordered table-striped" style="font-size: medium;">
            <thead>
              <tr>
                <th scope="col" style="width: 40%;">Slot</th>
                <th scope="col">Fellow(s)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">February 4, 12:00 PM - 01:00 PM PST</td>
                <td style="white-space: pre-wrap;">Maria Gini, Rao Kambhampati</td>
              </tr>
              <tr>
                <td scope="row">February 4, 01:00 PM - 02:00 PM PST</td>
                <td style="white-space: pre-wrap;">Maria Gini, Jorg Hoffmann, Holly Yanco</td>
              </tr>
                <tr>
                <td scope="row">February 5, 04:00 AM - 06:00 AM PST</td>
                <td style="white-space: pre-wrap;">Malte Helmert</td>
              </tr>
              <tr>
                <td scope="row">February 5, 12:00 PM - 01:00 PM PST</td>
                <td style="white-space: pre-wrap;">Murray Campbell, Marie desJardins, Eugene Freuder, Mark Maybury, Francesca Rossi</td>
              </tr>
              <tr>
                <td scope="row">February 5, 01:00 PM - 02:00 PM PST</td>
                <td style="white-space: pre-wrap;">Jim Hendler, Alan Mackworth, Antonio Torralba</td>
              </tr>
              <tr>
                <td scope="row">February 5, 08:00 PM - 09:00 PM PST</td>
                <td style="white-space: pre-wrap;">Peter Stone</td>
              </tr>
              <tr>
                <td scope="row">February 6, 12:00 PM - 01:00 PM PST</td>
                <td style="white-space: pre-wrap;">Chad Jenkins, Bing Liu</td>
              </tr>
              <tr>
                <td scope="row">February 6, 08:00 PM - 09:00 PM PST</td>
                <td style="white-space: pre-wrap;">Maja Mataric</td>
              </tr>
              <tr>
                <td scope="row">February 8, 04:00 AM - 06:00 AM PST</td>
                <td style="white-space: pre-wrap;">Tony Cohn</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <!-- </div>
</div> -->

{% endblock %}

{% block footer %}
{% endblock %}