{% set page_title = tutorial.title %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      New Faculty Highlights Speaker: {{tutorial.authors[0].author_name}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{ tutorial.organizers }}
    </h3>
    {% if tutorial.title %}
    <h3 class="card-subtitle mb-2 text-muted text-center">
        <b>{{ tutorial.title }}</b>
    </h3>
    {% endif %}

  </div>
</div>

<div class="container" style="background-color:white; padding: 0px;">
  <div class="row m-2">
    <div class="col-md-12 col-xs-12 my-auto p-2" >
{#      <b>Information about the virtual format of this tutorial: </b>#}
{#      {{tutorial.virtual_format_description}}#}
    </div>
  </div>

  <div class="text-muted text-center">
{#    {% if tutorial.prerecorded %}#}
{#    <a class="btn btn-outline-danger"#}
{#       href="https://slideslive.com/{{tutorial.prerecorded}}" target="_blank"#}
{#       style="margin-left: 5px; margin-right: 5px">#}
{#      Pre-recorded Video#}
{#    </a>#}
{#    {% endif %}#}

    <a class="btn btn-outline-danger"
       href="https://aaai-21.rocket.chat/channel/{{tutorial.rocketchat_channel}}"
       target="_blank"
       style="margin-left: 5px; margin-right: 5px">
      Chat
    </a>
  </div>

  <div class="row m-2">
    {% set rocketchat_width = 5 %}

{#    {% if tutorial.prerecorded %}#}
{#      {% set rocketchat_width = 5 %}#}
{#    {% else %}#}
{#      {% set rocketchat_width = 12 %}#}
{#    {% endif %}#}

    <!-- Prerecorded Talk -->
    {% if tutorial.prerecorded %}
    <div class="col-md-7 col-xs-12 my-auto p-2" >
      <div id="presentation-embed-{{tutorial.prerecorded}}" class="slp my-auto"></div>
      <script src='https://slideslive.com/embed_presentation.js'></script>
      <script>
        embed = new SlidesLiveEmbed('presentation-embed-{{tutorial.prerecorded}}', {
          presentationId: '{{tutorial.prerecorded}}',  // TODO: make this configurable
          autoPlay: false, // change to true to autoplay the embedded presentation
          verticalEnabled: true,
          verticalWhenWidthLte: 500,
          allowHiddenControlsWhenPaused: true,
          hideTitle: true
        });
      </script>
    </div>
    {% endif %}

    <!-- RocketChat Channel -->
    <div class="col-md-{{ rocketchat_width }} col-xs-12 p-2">
      <div id="gitter" class="slp">
        <iframe frameborder="0" src="https://aaai-21.rocket.chat/channel/{{tutorial.rocketchat_channel}}?layout=embedded" height="700px" width="100%" ></iframe>
      </div>
    </div>
  </div>

</div>

<script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>

{% endblock %}
