{% extends "base.html" %}
{% set active_page = "Plenary" %}
{% set page_title = "Plenary Sessions" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block heading %}
{{ components.section("Plenary Sessions") }}
<!-- Uncomment this block after all livestream events are over.
<div class="text-muted text-center">
  You can now watch recorded livestream <a href="livestream.html" >here</a>.
</div>
-->
<!--
<div class="text-muted text-center">
  The recorded livestream videos available:
  <a href="https://slideslive.com/38931670" target="_blank">[July 6]</a>
  and
  <a href="https://slideslive.com/38931671" target="_blank">[July 7]</a>.
</div>
-->
{% endblock %}

{% block tabs %}
{{ components.tabs(plenary_session_days) }}
{% endblock %}

{% block content %}
<div class="tab-content" id="nav-tabContent">

  {% for (tab_id, day, active) in plenary_session_days %}
  <div
    class="tab-pane fade {{ 'active show' if active else '' }}"
    id="tab-{{ tab_id }}"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >

    <div id="{{ tab_id }}">
      <div class="plenary_sessions">
        {{ components.plenarysessiongroup(plenary_sessions[day]) }}
      </div>
    </div>
  </div>

  {% endfor %}

</div>

<script src="static/js/lazy_load.js"></script>
<script type="text/javascript">
  lazyLoader();
</script>

<script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>

{% endblock %}
