{% extends "base.html" %}
{% set page_title = "Poster Sessions" %}

{% block heading %}
{{ components.section("Poster Sessions") }}
{#      <div class="text-muted text-center">#}
{#Conference-wide poster sessions will be held February 4-7, and will include posters from AAAI Main Track, AAAI Special Track on AI for Social Impact, IAAI-21, Senior Member Talks, Demonstrations, Student Abstract Program, Doctoral Consortium, and the Undergraduate Consortium. Poster sessions are scheduled for the following times:    <br>#}
{#          8:45 - 10:30 AM PST<br>#}
{#4:45 - 6:30 PM PST<br>#}
{#12:45 - 2:30 AM PST<br>#}
{#Authors are encouraged to be available during two sessions each day.#}
{##}
{#  </div>#}
Conference-wide poster sessions will be held February 4-7 in <a href="https://www.virtualchair.net/events/aaai-2021" target="_blank">Virtual Chair on Gather.Town</a>, and will include posters from AAAI Main Track, AAAI Special Track on AI for Social Impact, IAAI-21, Senior Member Talks, Demonstrations, Student Abstract Program, Doctoral Consortium, and the Undergraduate Consortium. Poster sessions are scheduled for the following times:
8:45 - 10:30 AM PST,
4:45 - 6:30 PM PST,
12:45 - 2:30 AM PST.
 Authors are encouraged to be available during two sessions each day.<br>
    Please see the instructional <a href="static/file/tipsVirtualChair.pdf" target="_blank" style="text-decoration:underline;">document</a> and <a href="https://video.virtualchair.net/VirtualChairIntroVideo" target="_blank" style="text-decoration:underline;">video</a> on how to navigate a <a href="https://www.virtualchair.net/events/aaai-2021" target="_blank" style="text-decoration:underline;">Virtual Chair event space</a>.
    <br>
    <table class="table table-bordered">
{#  <caption>基本的表格布局</caption>#}
{#  <thead>#}
{#    <tr>#}
{#      <th>名称</th>#}
{#      <th>城市</th>#}
{#      <th>城市</th>#}
{#    </tr>#}
{#  </thead>#}
  <tbody>
    <tr>
      <td style="width:5%;vertical-align:middle;">4-Feb</td>
      <td style="width:19%;vertical-align:middle;">08:45AM-10:30AM Sponsored by <a href="https://virtual.2021.aaai.org/sponsor_ibm.html" target="_blank">IBM</a></td>
      <td style="width:40%;">
          <a href="posters.html#AB-D1-R1">AB-D1-R1</a> +
          <a href="posters.html#AB-D1-R2">AB-D1-R2</a> +
          <a href="posters.html#BC-D1-R1">BC-D1-R1</a> +
          <a href="posters.html#BC-D1-R2">BC-D1-R2</a> ,
          <a href="posters.html#IAAI-D1">IAAI-D1</a> ,
          <a href="posters.html#UC-D1">UC-D1</a> ,
          <a href="posters.html#SA-D1">SA-D1</a> ,
          <a href="posters.html#DC-D1">DC-D1</a> ,
          <a href="posters.html#DEMO-D1">DEMO-D1</a> ,
          <a href="posters.html#Award-D1">Award-D1</a>
      </td>
    </tr>
    <tr>
      <td style="width:5%;vertical-align:middle;">4-Feb</td>
      <td style="width:19%;vertical-align:middle;">04:45PM-06:30PM Sponsored by <a href="https://virtual.2021.aaai.org/sponsor_ibm.html" target="_blank">IBM</a></td>
      <td><a href="posters.html#AC-D1-R1">AC-D1-R1</a> +
          <a href="posters.html#AC-D1-R2">AC-D1-R2</a> +
          <a href="posters.html#BC-D1-R1">BC-D1-R1</a> +
          <a href="posters.html#BC-D1-R2">BC-D1-R2</a> ,
          <a href="posters.html#IAAI-D1">IAAI-D1</a> ,
          <a href="posters.html#UC-D1">UC-D1</a> ,
          <a href="posters.html#SA-D1">SA-D1</a> ,
          <a href="posters.html#DC-D1">DC-D1</a> ,
          <a href="posters.html#DEMO-D1">DEMO-D1</a> ,
          <a href="posters.html#Award-D1">Award-D1</a>
      </td>
    </tr>
    <tr>
      <td style="width:5%;vertical-align:middle;">5-Feb</td>
      <td style="width:19%;vertical-align:middle;">12:45AM-02:30AM Sponsored by <a href="https://virtual.2021.aaai.org/sponsor_ibm.html" target="_blank">IBM</a></td>
      <td><a href="posters.html#AB-D1-R1">AB-D1-R1</a> +
          <a href="posters.html#AB-D1-R2">AB-D1-R2</a> +
          <a href="posters.html#AC-D1-R1">AC-D1-R1</a> +
          <a href="posters.html#AC-D1-R2">AC-D1-R2</a> ,
          <a href="posters.html#IAAI-D1">IAAI-D1</a> ,
          <a href="posters.html#UC-D1">UC-D1</a> ,
          <a href="posters.html#SA-D1">SA-D1</a> ,
          <a href="posters.html#DC-D1">DC-D1</a> ,
          <a href="posters.html#DEMO-D1">DEMO-D1</a> ,
          <a href="posters.html#Award-D1">Award-D1</a>
      </td>
    </tr>
    <tr>
      <td style="width:5%;vertical-align:middle;">5-Feb</td>
      <td style="width:19%;vertical-align:middle;">08:45AM-10:30AM Sponsored by <a href="https://virtual.2021.aaai.org/sponsor_amazon_science.html" target="_blank">Amazon</a></td>
      <td><a href="posters_feb5.html#AB-D2-R1">AB-D2-R1</a> +
          <a href="posters_feb5.html#AB-D2-R2">AB-D2-R2</a> +
          <a href="posters_feb5.html#BC-D2-R1">BC-D2-R1</a> +
          <a href="posters_feb5.html#BC-D2-R2">BC-D2-R2</a> ,
          <a href="posters_feb5.html#IAAI-D2">IAAI-D2</a> ,
          <a href="posters_feb5.html#SA-D2">SA-D2</a> ,
          <a href="posters_feb5.html#DEMO-D2">DEMO-D2</a> ,
          <a href="posters_feb5.html#Award-D2">Award-D2</a>

      </td>
    </tr>
    <tr>
      <td style="width:5%;vertical-align:middle;">5-Feb</td>
      <td style="width:19%;vertical-align:middle;">04:45PM-06:30PM Sponsored by <a href="https://virtual.2021.aaai.org/sponsor_amazon_science.html" target="_blank">Amazon</a></td>
      <td><a href="posters_feb5.html#AC-D2-R1">AC-D2-R1</a> +
          <a href="posters_feb5.html#AC-D2-R2">AC-D2-R2</a> +
          <a href="posters_feb5.html#BC-D2-R1">BC-D2-R1</a> +
          <a href="posters_feb5.html#BC-D2-R2">BC-D2-R2</a> ,
          <a href="posters_feb5.html#IAAI-D2">IAAI-D2</a> ,
          <a href="posters_feb5.html#SA-D2">SA-D2</a> ,
          <a href="posters_feb5.html#DEMO-D2">DEMO-D2</a> ,
          <a href="posters_feb5.html#Award-D2">Award-D2</a>
      </td>
    </tr>
    <tr>
      <td style="width:5%;vertical-align:middle;">6-Feb</td>
      <td style="width:19%;vertical-align:middle;">12:45AM-02:30AM Sponsored by <a href="https://virtual.2021.aaai.org/sponsor_amazon_science.html" target="_blank">Amazon</a></td>
      <td><a href="posters_feb5.html#AB-D2-R1">AB-D2-R1</a> +
          <a href="posters_feb5.html#AB-D2-R2">AB-D2-R2</a> +
          <a href="posters_feb5.html#AC-D2-R1">AC-D2-R1</a> +
          <a href="posters_feb5.html#AC-D2-R2">AC-D2-R2</a> ,
          <a href="posters_feb5.html#IAAI-D2">IAAI-D2</a> ,
          <a href="posters_feb5.html#SA-D2">SA-D2</a> ,
          <a href="posters_feb5.html#DEMO-D2">DEMO-D2</a> ,
          <a href="posters_feb5.html#Award-D2">Award-D2</a>
      </td>
    </tr>
    <tr>
      <td style="width:5%;vertical-align:middle;">6-Feb</td>
      <td style="width:19%;vertical-align:middle;">08:45AM-10:30AM Sponsored by <a href="https://virtual.2021.aaai.org/sponsor_google_research.html" target="_blank">Google</a></td>
      <td><a href="posters_feb6.html#AB-D3-R1">AB-D3-R1</a> +
          <a href="posters_feb6.html#AB-D3-R2">AB-D3-R2</a> +
          <a href="posters_feb6.html#BC-D3-R1">BC-D3-R1</a> +
          <a href="posters_feb6.html#BC-D3-R2">BC-D3-R2</a> ,
          <a href="posters_feb6.html#IAAI-D3">IAAI-D3</a> ,
          <a href="posters_feb6.html#SA-D3">SA-D3</a> ,
          <a href="posters_feb6.html#DEMO-D3">DEMO-D3</a>
      </td>
    </tr>
    <tr>
      <td style="width:5%;vertical-align:middle;">6-Feb</td>
      <td style="width:19%;vertical-align:middle;">04:45PM-06:30PM Sponsored by <a href="https://virtual.2021.aaai.org/sponsor_sony.html" target="_blank">Sony</a></td>
      <td><a href="posters_feb6.html#AC-D3-R1">AC-D3-R1</a> +
          <a href="posters_feb6.html#AC-D3-R2">AC-D3-R2</a> +
          <a href="posters_feb6.html#BC-D3-R1">BC-D3-R1</a> +
          <a href="posters_feb6.html#BC-D3-R2">BC-D3-R2</a> ,
          <a href="posters_feb6.html#IAAI-D3">IAAI-D3</a> ,
          <a href="posters_feb6.html#SA-D3">SA-D3</a> ,
          <a href="posters_feb6.html#DEMO-D3">DEMO-D3</a>
      </td>
    </tr>
    <tr>
      <td style="width:5%;vertical-align:middle;">7-Feb</td>
      <td style="width:19%;vertical-align:middle;">12:45AM-02:30AM Sponsored by <a href="https://virtual.2021.aaai.org/sponsor_baidu.html" target="_blank">Baidu</a></td>
      <td><a href="posters_feb6.html#AB-D3-R1">AB-D3-R1</a> +
          <a href="posters_feb6.html#AB-D3-R2">AB-D3-R2</a> +
          <a href="posters_feb6.html#AC-D3-R1">AC-D3-R1</a> +
          <a href="posters_feb6.html#AC-D3-R2">AC-D3-R2</a> ,
          <a href="posters_feb6.html#IAAI-D3">IAAI-D3</a> ,
          <a href="posters_feb6.html#SA-D3">SA-D3</a> ,
          <a href="posters_feb6.html#DEMO-D3">DEMO-D3</a>
      </td>
    </tr>
    <tr>
      <td style="width:5%;vertical-align:middle;">7-Feb</td>
      <td style="width:19%;vertical-align:middle;">08:45AM-10:30AM</td>
      <td><a href="posters_feb7.html#AB-D4-R1">AB-D4-R1</a> +
          <a href="posters_feb7.html#AB-D4-R2">AB-D4-R2</a> +
          <a href="posters_feb7.html#BC-D4-R1">BC-D4-R1</a> +
          <a href="posters_feb7.html#BC-D4-R2">BC-D4-R2</a> ,
          <a href="posters_feb7.html#SA-D4">SA-D4</a> ,
          <a href="posters_feb7.html#DEMO-D4">DEMO-D4</a>
      </td>
    </tr>
    <tr>
      <td style="width:5%;vertical-align:middle;">7-Feb</td>
      <td style="width:19%;vertical-align:middle;">04:45PM-06:30PM</td>
      <td><a href="posters_feb7.html#AC-D4-R1">AC-D4-R1</a> +
          <a href="posters_feb7.html#AC-D4-R2">AC-D4-R2</a> +
          <a href="posters_feb7.html#BC-D4-R1">BC-D4-R1</a> +
          <a href="posters_feb7.html#BC-D4-R2">BC-D4-R2</a> ,
          <a href="posters_feb7.html#SA-D4">SA-D4</a> ,
          <a href="posters_feb7.html#DEMO-D4">DEMO-D4</a>
      </td>
    </tr>
    <tr>
      <td style="width:5%;vertical-align:middle;">8-Feb</td>
      <td style="width:19%;vertical-align:middle;">12:45AM-02:30AM</td>
      <td><a href="posters_feb7.html#AB-D4-R1">AB-D4-R1</a> +
          <a href="posters_feb7.html#AB-D4-R2">AB-D4-R2</a> +
          <a href="posters_feb7.html#AC-D4-R1">AC-D4-R1</a> +
          <a href="posters_feb7.html#AC-D4-R2">AC-D4-R2</a> ,
          <a href="posters_feb7.html#SA-D4">SA-D4</a> ,
          <a href="posters_feb7.html#DEMO-D4">DEMO-D4</a>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}

{% block tabs %}
{{ components.tabs(poster_days) }}
{% endblock %}

{% block content %}
<div class="tab-content" id="nav-tabContent">

    {% for (tab_id, day, active) in poster_days %}
    <div
            class="tab-pane fade {{ 'active show' if active else '' }}"
            id="tab-{{ tab_id }}"
            role="tabpanel"
            aria-labelledby="nav-profile-tab"
    >
    {% if day == "Award-Winning Papers" %}
        {% for room in poster_info[day] %}
            <div id="{{ tab_id }}">
                <div class="plenary_sessions">
                    <div class="row p-4 col-md-12">
                    {% for paper_id in poster_info[day][room] %}
                        {% if loop.first %}
                            <h5 style="color: red; font-weight: bold;" >{{ room }}</h5>
                        {% endif %}

                    <div id=""></div>
                        <div class="col-12 mb-4">
                            <a href="paper_{{ paper_id }}.html" target="_blank" style="color: black;"><strong>{{ papers[paper_id].content.title }}</strong></a>
                            <a href="{{papers[paper_id].content.gather_town_link}}"   class="card-link" target="_blank">
                                [Join the Poster Session]</a>
                            <br>
                              {% for author in papers[paper_id].content.authors %}
                              {{author}}{{ "," if not loop.last }}
                              {% endfor %}
                            <br>
                            {% if papers[paper_id].content.room[0]=='A'  %}
                            <span class="session_times">Time1: {{papers[paper_id].content.date2}} {{papers[paper_id].content.time2}} PST (Room {{ papers[paper_id].content.room_letter2 }}, Cluster {{ papers[paper_id].content.cluster }}, Location {{ papers[paper_id].content.position }} in Virtual Chair on Gather.Town) </span>
                            <br>
                            <span class="session_times">Time2: {{papers[paper_id].content.date1}} {{papers[paper_id].content.time1}} PST (Room {{ papers[paper_id].content.room_letter1 }}, Cluster {{ papers[paper_id].content.cluster }}, Location {{ papers[paper_id].content.position }} in Virtual Chair on Gather.Town) </span>
                            {% else %}
                            <span class="session_times">Time1: {{papers[paper_id].content.date1}} {{papers[paper_id].content.time1}} PST (Room {{ papers[paper_id].content.room_letter1 }}, Cluster {{ papers[paper_id].content.cluster }}, Location {{ papers[paper_id].content.position }} in Virtual Chair on Gather.Town) </span>
                            <br>
                            <span class="session_times">Time2: {{papers[paper_id].content.date2}} {{papers[paper_id].content.time2}} PST (Room {{ papers[paper_id].content.room_letter2 }}, Cluster {{ papers[paper_id].content.cluster }}, Location {{ papers[paper_id].content.position }} in Virtual Chair on Gather.Town) </span>
                            {% endif %}

                        </div>

                    {% endfor %}
                    </div>
                </div>
            </div>
             <hr style="margin: 0px;">

        {% endfor %}
    {% else %}
        {% for room in poster_info[day] %}
        <div id="{{ tab_id }}">
            <div class="plenary_sessions">
                <div class="row p-4 col-md-12">
                {% for poster in poster_info[day][room] %}
                    {% if loop.first %}
                        {% if poster.session_type == "Poster" %}
                        <div id="{{poster.room}}"  style="position: relative;top: -80px;"></div>
{#                        <a href="#{{poster.room}}"  style="position: relative;top: -80px;"></a>#}
                        <a name="{{ poster.uid }}">
                            <h5>
                                {{poster.room}} Posters
                                <span>{{poster.session}} </span>
                            </h5>
                            {% if papers[poster.papers[0]].content.room[0]=='A'  %}
                                                        <h6>
                                Time1: <span class="session_times">{{poster.time1}} PST</span>
                                (<u>Room {{ papers[poster.papers[0]].content.room_letter2 }}</u> in Virtual Chair on Gather.Town)
                            </h6>
                            <h6>
                                Time2: <span class="session_times">{{poster.time2}} PST</span>
                                (<u>Room {{ papers[poster.papers[0]].content.room_letter1 }}</u> in Virtual Chair on Gather.Town)
                            </h6>

                            {% else %}
                            <h6>
                                Time1: <span class="session_times">{{poster.time1}} PST</span>
                                (<u>Room {{ papers[poster.papers[0]].content.room_letter1 }}</u> in Virtual Chair on Gather.Town)
                            </h6>
                            <h6>
                                Time2: <span class="session_times">{{poster.time2}} PST</span>
                                (<u>Room {{ papers[poster.papers[0]].content.room_letter2 }}</u> in Virtual Chair on Gather.Town)
                            </h6>
                            {% endif %}
                        </a>
                        {% endif %}
                        {% if poster.session_type != "Poster" %}
                        <div id="{{poster.room}}"  style="position: relative;top: -80px;"></div>
{#                        <a href="#{{poster.room}}"  style="position: relative;top: -80px;"></a>#}
                        <a name="{{ poster.uid }}">
                            <h5>
                                {{poster.room}} Posters
                                <span>{{poster.session}} </span>
    {#                            <span class="session_times">{{poster.time1}} PST/ {{poster.time2}} PST</span>#}
                            </h5>
                            <h6>
                                Time1: <span class="session_times">{{poster.time1}} PST</span>
                                (<u>Room {{ papers[poster.papers[0]].content.room_letter1 }}</u> in Virtual Chair on Gather.Town)
                            </h6>
                            <h6>
                                Time2: <span class="session_times">{{poster.time2}} PST</span>
                                (<u>Room {{ papers[poster.papers[0]].content.room_letter1 }}</u> in Virtual Chair on Gather.Town)
                            </h6>
                            <h6>
                                Time3: <span class="session_times">{{poster.time3}} PST</span>
                                (<u>Room {{ papers[poster.papers[0]].content.room_letter1 }}</u> in Virtual Chair on Gather.Town)
                            </h6>
                        </a>
                        {% endif %}

                    {% endif %}
{#                <div id="{{ poster.room }}-{{ poster.cluster }}" style="position: relative;top: -80px;"></div>#}
                <div id="{{ poster.room }}-{{ poster.cluster }}"></div>

                    <div class="col-12 mb-4">
                        <strong>Cluster {{ poster.cluster }}: {{poster.cluster_name}}</strong>
                        <ul>
                            {% for paper_id in poster.papers %}
                            {% set paper = papers[paper_id] %}
                            <li>
{#                              {% for author in paper.content.authors %}#}
{#                              <a href="papers.html?filter=authors&search={{author}}&program=all" class="text-primary"#}
{#                                >{{author}}</a#}
{#                              >{{ "," if not loop.last }}#}
{#                              {% endfor %}#}
                                <a class="text-dark" href="paper_{{paper.id}}.html" target="_blank">
                                    {% if paper.content.position == 0 %}
                                    {{ paper.content.title }}
                                    {% else %}
                                    Location {{ paper.content.position }}: {{ paper.content.title }}
                                    {% endif %}
                                    {% if paper.content.best_type > 0 %}
                                    <b style="color: red">({{ paper.content.best_type_desc }})</b>
                                    {% endif %}
                                </a>
                                <a href="{{paper.content.gather_town_link}}"   class="card-link" target="_blank">
                            [Join the Poster Session]<br>
                              </a>
{#                            <br>#}
                              {% for author in paper.content.authors %}
                              {{author}}{{ "," if not loop.last }}
                              {% endfor %}
                            </li>
                            {% endfor %}
                        </ul>
{#                            <a class="btn btn-info btn-sm" href="{{ config.gather_town }}" role="button" target="_blank">Join the Poster Session</a>#}
                    </div>

                {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
    {% endif %}
    </div>
    {% endfor %}
</div>


<script src="static/js/time-extend.js"></script>
<script>
    $(document).ready(() => {
        add_local_tz('.session_times');
    });
    function route(tab_id,room) {
        $('[href="#tab-'+tab_id+'"]').click();
{#        $('[href="#'+room+'"]').click();#}
    }
</script>

{% endblock %}