{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
  .page__hero-caption {
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 2px 10px;
    color: #fff;
    font-family: Georgia,Times,serif;
    font-size: 0.9em;
    text-align: right;
    z-index: 5;
    opacity: 0.5;
    border-radius: 4px 0 0 0;
  }
    .ctagcloud li {
        display:inline-block;
        text-transform:uppercase;
        font-size:1rem;
        font-weight:600;
        margin:4px;
        padding:8px 16px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        background:rgba(0,0,0,0.05);
        -webkit-transition:all 0.2s ease-in-out;
        -moz-transition:all 0.2s ease-in-out;
        transition:all 0.2s ease-in-out
    }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 5px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h1 class="p-1" style="font-size:5vw">
        <b>Tutorials</b><br>
      </h1>

    </div>
  </div>
{#  <div class="page__hero-caption">Image Credit: NASA</div>#}
</div>

{% endblock %}
{% block heading %}

<div class="pp-card m-3" style="">
    <div class="card-header">
        <ul>
            <li>Lingfei Wu, Yu Chen, Heng Ji, Yunyao Li. <a href="https://dlg4nlp.github.io/tutorial_Deep%20Learning%20on%20Graphs%20for%20Natural%20Language%20Processing%20NAACL%202021.html">Deep Learning on Graphs for Natural Language Processing</a>. NAACL 2021</li>
            <li>Lingfei Wu, Yu Chen, Heng Ji, Bang Liu. <a href="https://dlg4nlp.github.io/tutorial_Deep%20Learning%20on%20Graphs%20for%20Natural%20Language%20Processing%20SIGIR%202021.html">Deep Learning on Graphs for Natural Language Processing</a>. SIGIR 2021</li>
            <li>Wei Jin, Yao Ma, Yiqi Wang, Xiaorui Liu, Jiliang Tang, Yukuo Cen, Jiezhong Qiu, Jie Tang, Chuan Shi, Yanfang Ye, Jiawei Zhang, Philip S. Yu. <a href="https://kdd2021graph.github.io/">Graph Representation Learning:Foundations, Methods, Applications and Systems</a>. KDD 2021</li>
            <li>Lingfei Wu, Yu Chen, Heng Ji, Yunyao Li, Bang Liu. <a href="https://dlg4nlp.github.io/tutorial_Deep%20Learning%20on%20Graphs%20for%20Natural%20Language%20Processing%20KDD%202021.html">Deep Learning on Graphs for Natural Language Processing</a>. KDD 2021</li>
            <li>Jian Tang, Fei Wang, Feixiong Cheng. <a href="https://deepgraphlearning.github.io/DrugTutorial_KDD2021/">Artificial Intelligence for Drug Discovery</a>. KDD 2021</li>
            <li>Chuxu Zhang, Jundong Li, Meng Jiang. <a href="https://chuxuzhang.github.io/KDD21_Tutorial.html">Data Efficient Learning on Graphs</a>. KDD 2021</li>
            <li>Lingfei Wu, Yu Chen, Heng Ji, Yunyao Li, Bang Liu. <a href="https://dlg4nlp.github.io/tutorial_Deep%20Learning%20on%20Graphs%20for%20Natural%20Language%20Processing%20IJCAI%202021.html">Deep Learning on Graphs for Natural Language Processing</a>. IJCAI 2021</li>
            <li>Yao Ma, Wei Jin, Jiliang Tang, Yiqi Wang, Tyler Derr. <a href="https://web.njit.edu/~ym329/tutorials/aaai2021/">Graph Neural Networks: Models and Applications</a>. AAAI 2021</li>
            <li>Jian Tang, Fei Wang, Feixiong Cheng. <a href="https://deepgraphlearning.github.io/DrugTutorial_AAAI2021/">Artificial Intelligence for Drug Discovery</a>. AAAI 2021</li>
            <li>Yao Ma, Wei Jin, Jiliang Tang, Lingfei Wu and Tengfei Ma. <a href="http://www.google.com/url?q=http%3A%2F%2Fcse.msu.edu%2F~mayao4%2Ftutorials%2Faaai2020%2F&sa=D&sntz=1&usg=AFQjCNGY4IhEY0BzMMjJ-A7kupLmgC9xqw">Graph Neural Networks: Models and Applications</a>. SIGIR 2021</li>
            <li>Yu Rong, Wenbing Huang, Tingyang Xu, Hong Cheng, Junzhou Huang, Yao Ma, Yiqi Wang, Tyler Derr, Lingfei Wu and Tengfei Ma. <a href="https://www.google.com/url?q=https%3A%2F%2Fai.tencent.com%2Failab%2Fml%2FKDD-Deep-Graph-Learning.html&sa=D&sntz=1&usg=AFQjCNFI7Q12FzYTLCKiUKWokXksy-gqzg">Deep Graph Learning: Foundations, Advances and Applications</a>. KDD 2020</li>
            <li>Xavier Bresson, Yann LeCun, Stanley Osher, Rene Vidal, Rebecca Willett. <a href="http://www.ipam.ucla.edu/programs/workshops/workshop-iv-deep-geometric-learning-of-big-data-and-applications/?tab=overview">Deep Geometric Learning of Big Data and Applications</a>. IPAM 2019</li>
            <li>Marinka Zitnik, Jure Leskovec. <a href="http://snap.stanford.edu/deepnetbio-ismb/">Deep Learning for Network Biology</a>. ISMB 2018</li>
            <li>William L. Hamilton, Rex Ying, Jure Leskovec, Rok Sosic. <a href="http://snap.stanford.edu/deepnetbio-ismb/">Representation Learning on Networks</a>. WWW 2018</li>
            
        <ul>
        
        
        
    </div>
</div>



{% endblock %}

