{#{% extends "base.html" %}#}
{#{% set active_page = "Workshops" %}#}
{#{% set page_title = "Workshops" %}#}
{##}
{#{% block heading %}#}
{#{{ components.section("Workshops") }}#}
{##}
{#<div class="text-center text-muted">#}
{#  You can also view the schedule by going to the "day" view on the <a href="schedule.html" target="_blank">Schedule</a> page for February 8 and February 9.#}
{#</div>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#<div class="workshops">#}
{#  {{ components.workshopgroup(workshops) }}#}
{#</div>#}
{##}
{#<script src="static/js/time-extend.js"></script>#}
{#<script>#}
{#  $(document).ready(()=>{#}
{#    add_local_tz('.session_times');#}
{#  })#}
{#</script>#}
{##}
{#{% endblock %}#}

{#%%%%%%%%%%%%%%%%%%%%%%%%%%#}

{% extends "base.html" %}
{% set active_page = "Workshops" %}
{% set page_title = "Workshops" %}

{% block heading %}
{{ components.section("Workshops") }}

<div class="text-center text-muted">
  You can also view the schedule by going to the "day" view on the <a href="schedule.html" target="_blank">Schedule</a> page for February 8 and February 9.
</div>
{% endblock %}

{#{% block content %}#}
{#<div class="workshops">#}
{#  {{ components.workshopgroup(workshops) }}#}
{#</div>#}

{% block tabs %}
{{ components.tabs(workshop_days) }}
{% endblock %}

{% block content %}
<div class="tab-content" id="nav-tabContent">

  {% for (tab_id, day, active) in workshop_days %}
  <div
    class="tab-pane fade {{ 'active show' if active else '' }}"
    id="tab-{{ tab_id }}"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >

    <div id="{{ tab_id }}">
      <div class="plenary_sessions">
        {{ components.workshopgroup(workshops[day]) }}
      </div>
    </div>
  </div>

  {% endfor %}

</div>

<script src="static/js/lazy_load.js"></script>
<script type="text/javascript">
  lazyLoader();
</script>

<script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>

{% endblock %}
