{% set page_title = workshop.title %}
{% extends "base.html" %}
{% block content %}

<script src='https://slideslive.com/embed_presentation.js'></script>
<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
        {{workshop.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{ workshop.organizers }}
    </h3>

    <div class="text-center p-3">
      <a class="card-link" data-toggle="collapse" role="button" href="#details">
        Description
      </a>

{#      {% if workshop.blocks %}#}
{#      <a class="card-link" data-toggle="collapse" role="button" href="#schedule">#}
{#        Schedule#}
{#      </a>#}
{#      {% endif %}#}

{#      <a href="papers.html?filter=titles&program=workshop&track={{workshop.title|quote_plus}}" target="_blank"  class="card-link">#}
{#        Papers#}
{#      </a>#}

      {% if workshop.website %}
      <a href="{{workshop.website}}" target="_blank"  class="card-link">
        External Website
      </a>
      {% endif %}

      {% if workshop.zoom_links| length == 1  %}
        <a href="{{ workshop.zoom_links[0] }}" target="_blank"  class="card-link">
        Zoom Link
        </a>
      {% endif %}

    </div>

    <div class="text-center pt-n2 pb-3">
      {% if workshop.zoom_links|length > 1 %}
          {% if workshop.title ==  'W13: 5th International Workshop on Health Intelligence (W3PHIAI-21)' %}
              <a href="{{ workshop.zoom_links[0] }}" target="_blank"  class="card-link">
                Zoom Link (February 8)
              </a>
              <a href="{{ workshop.zoom_links[1] }}" target="_blank"  class="card-link">
                Zoom Link (February 9)
              </a>
          {% else %}
            {% for zoom_link in workshop.zoom_links %}
            <a href="{{ zoom_link }}" target="_blank"  class="card-link">
            Zoom Link  {{ loop.index }}
            </a>
            {% endfor %}
          {% endif %}
      {% endif %}
    </div>

    {{ components.live_sessions(
        workshop.blocks,
        workshop.title,
        "https://virtual.2021.aaai.org/workshop_" + workshop.id + ".html",
        false) }}

  </div>
</div>

<div id="details" class="pp-card m-3 collapse show">
    <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        {{workshop.abstract|safe}}
      </div>
    </div>
    <p></p>
    </div>
</div>

<!-- Schedule -->
{#{% if workshop.sessions %}#}
{#<div id="schedule" class="collapse" aria-labelledby="schedule">#}
{#  <div class="card-body">#}
{#    <table class="table table-bordered table-striped" style="font-size: small;">#}
{#      <thead>#}
{#        <tr>#}
{#          <th scope="col" style="width: 20%;">Time (PDT)</th>#}
{#          <th scope="col" style="width: 50%;">Event</th>#}
{#          <th scope="col">Hosts</th>#}
{#        </tr>#}
{#      </thead>#}
{#      <tbody>#}
{#        {% for event in workshop.sessions %}#}
{##}
{#        <tr>#}
{#            <td>#}
{#              {{event.day}}, <span class="session_times">{{event.time_string}}</span>#}
{#            </td>#}
{#          <td scope="row" style="white-space: pre-wrap;">{{event.session_name | markdown}}</td>#}
{#          <td style="white-space: pre-wrap;">{{event.hosts}}</td>#}
{#        </tr>#}
{#        {% endfor %}#}
{#      </tbody>#}
{#    </table>#}
{#  </div>#}
{#</div>#}
{#{% endif %}#}
{#<script src="static/js/time-extend.js"></script>#}

<div class="container" style="background-color:white; padding: 0px;">
  <div class="text-muted text-center">
  You can open the
  {% if workshop.livestream %}
  <a href="https://slideslive.com/{{workshop.livestream}}" target="_blank">livestream video</a>
  and
  {% endif %}
  the
  <a href="https://{{config.chat_server}}/channel/{{workshop.rocketchat_channel}}" target="_blank">
    #{{ workshop.rocketchat_channel }}
  </a>
  channel
  {% if workshop.livestream %}
  in separate windows.
  {% else %}
  in a separate window.
  {% endif %}

  </div>

  <div class="row m-2">
  {% if workshop.livestream %}
<!-- Livestreaming -->
    <div class="col-md-7 col-xs-12 my-auto p-2" >
      <div id="presentation-embed" class="slp my-auto"></div>
      <script src='https://slideslive.com/embed_presentation.js'></script>
      <script>
        embed = new SlidesLiveEmbed('presentation-embed', {
        presentationId: '{{workshop.livestream}}',
        autoPlay: false, // change to true to autoplay the embedded presentation
        verticalEnabled: true,
        verticalWhenWidthLte: 500,
        allowHiddenControlsWhenPaused: true,
        hideTitle: true
        });
      </script>
    </div>

    <!-- Chat -->
    <br/>
    <div class="col-md-5 col-xs-12 p-2">
      <div id="gitter" class="slp">
        <iframe frameborder="0" src="https://{{config.chat_server}}/channel/{{workshop.rocketchat_channel}}?layout=embedded" height="700px" width="100%" ></iframe>
      </div>
    </div>
  {% else %}
  <div class="container" style="background-color:white; padding: 0px;">


    <!-- Chat -->
      <div id="gitter" class="slp">
        <iframe frameborder="0" src="https://{{config.chat_server}}/channel/{{workshop.rocketchat_channel}}?layout=embedded" height="700px" width="100%" ></iframe>
      </div>
  </div>
  {% endif %}
</div>



{#{% if workshop.prerecorded_talks %}#}
{#  <!-- Prerecorded Talk -->#}
{#{{ components.section("Pre-recorded Plenary Talks") }}#}
{#<div id="accordion">#}
{#  {% for talk in workshop.prerecorded_talks %}#}
{#  <div class="row m-2">#}
{#    <div class="card col-md-12 col-xs-12 my-auto mp-2 bg-light">#}
{#        <br/>#}
{#        <p>#}
{#          <a href="https://slideslive.com/{{talk.presentation_id}}" target="_blank"><b>{{talk.title}}</b></a>#}
{#        </p>#}
{#        <p>#}
{#          <i>{{talk.speakers}}</i>#}
{#        </p>#}
{#    </div>#}
{#  </div>#}
{#  {% endfor %}#}
{#</div>#}
{#{% endif %}#}

<script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>

{% endblock %}
