{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
  .page__hero-caption {
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 2px 10px;
    color: #fff;
    font-family: Georgia,Times,serif;
    font-size: 0.9em;
    text-align: right;
    z-index: 5;
    opacity: 0.5;
    border-radius: 4px 0 0 0;
  }
    .ctagcloud li {
        display:inline-block;
        text-transform:uppercase;
        font-size:1rem;
        font-weight:600;
        margin:4px;
        padding:8px 16px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        background:rgba(0,0,0,0.05);
        -webkit-transition:all 0.2s ease-in-out;
        -moz-transition:all 0.2s ease-in-out;
        transition:all 0.2s ease-in-out
    }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 5px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h1 class="p-1" style="font-size:5vw">
        <b>Workshops</b><br>
      </h1>

    </div>
  </div>
{#  <div class="page__hero-caption">Image Credit: NASA</div>#}
</div>

{% endblock %}
{% block heading %}

<div class="pp-card m-3" style="">
    <div class="card-header">
        <ul>
            <li>Lingfei Wu, Yinglong Xia, Jiliang Tang, Jian Pei, Xiaojie Guo, Yuanqi Du. <a href="https://deep-learning-graphs.bitbucket.io/dlg-kdd21/">The Sixth International Workshop on Deep Learning on Graphs (DLG-KDD'21) (co-located with KDD'21)</a></li>
            <li>Lingfei Wu, Yinglong Xia, Jiliang Tang, Jian Pei, Dawei Zhou. <a href="https://deep-learning-graphs.bitbucket.io/dlg-aaai21/">The Fifth International Workshop on Deep Learning on Graphs (DLG-AAAI'21) (co-located with AAAI'21)</a></li>
            <li>Michael Bronstein, Andreea Deac, William L. Hamilton, Jessica B. Hamrick, Milad Hashemi, Stefanie Jegelka, Jure Leskovec, Renjie Liao, Federico monti, Yizhou Sun, Kevin Swersky, Petar Veličković, Rex Ying, Marinka Žitnik. <a href="https://grlplus.github.io">Graph Representation Learnign and Beyond (co-located with ICML'20)
            </a></li>
            <li>Lingfei Wu, Yinglong Xia, Hongxia Yang, Jiezhong Qiu. <a href="https://deep-learning-graphs.bitbucket.io/dlg-kdd20/">The Fourth International Workshop on Deep Learning on Graphs (DLG-KDD'20) (co-located with KDD'20)
            </a></li>
            <li>Lingwei Wu, Jian Tang, Yinglong Xia, Charu Aggarwal, Jian Pan. <a href="https://deep-learning-graphs.bitbucket.io/dlg-aaai20/">The Third International Workshop on Deep Learning on Graphs (DLG-AAAI'20) (co-located with AAAI'20)</a></li>
            <li>Jian Pei, Lingfei Wu, Yinglong Xia, Hongxia Yang. <a href="https://deep-learning-graphs.bitbucket.io/dlg-kdd19/">The First International Workshop on Deep Learning on Graphs (DLG-KDD'19) (co-located with KDD'19)</li>
            <li>Ethan Fetaya, Zhiting Hu, Thomas Kipf, Yujia Li, Xiaodan Liang, Renjie Liao, Raquel Urtasun, Hao Wang, Max Welling, Eric P. Xing, Richard Zemel. <a href="https://graphreason.github.io">Learning and Reasoning with Graph-Structured Representations (co-located with ICML'19)</li>
            <li>Adji Bousso Dieng, Yoon Kim, Siva Reddy, Kyunghyun Cho, Chris Dyer, Phil Blunsom, David Blei. <a href="https://deep-gen-struct.github.io/">Deep Generative Models for Highly Structured Data (co-located with ICLR'19)</a></li>
            <li>Michael Bronstein, Taco Cohen, Jessica Hamrick, Drew Hudson, Jure Leskovec, Le Song. <a href="https://rlgm.github.io">Representation Learning on Graphs and Manifolds (co-located with ICLR'19)</a></li>
            <li>Aditya Grover, Paroma Varma, Fred Sala, Steven Holtzen, Jennifer Neville, Stefano Ermon, Christopher Ré. <a href="https://r2learning.github.io">Relational Representation Learning (R2Learning'18) (co-located with NeurIPS'18)</a></li>
            
            <li>Lingfei Wu, Yinglong Xia, Hongxia Yang, Jiezhong Qiu. <a href="https://deep-learning-graphs.bitbucket.io/dlg-kdd20/">The Fourth International Workshop on Deep Learning on Graphs (DLG-KDD'20) (co-located with KDD'20)
            </a></li>
            <li>Lingwei Wu, Jian Tang, Yinglong Xia, Charu Aggarwal, Jian Pan. <a href="https://deep-learning-graphs.bitbucket.io/dlg-aaai20/">The Third International Workshop on Deep Learning on Graphs (DLG-AAAI'20) (co-located with AAAI'20)</a></li>
            <li>Jian Pei, Lingfei Wu, Yinglong Xia, Hongxia Yang. <a href="https://deep-learning-graphs.bitbucket.io/dlg-kdd19/">The First International Workshop on Deep Learning on Graphs (DLG-KDD'19) (co-located with KDD'19)</li>
            </ul>
                
    
    </div>
</div>



{% endblock %}

